.App {
  text-align: center;
  display: flex;
}

.TodoList {
  flex: 1 1;
  height: 100%;
}

.allMenuContainer {
  width: 35%;
  background: #CFCFCF;
}

.allTodoContainer {
  padding: 15px 55px 15px 60px;
  width: 65%;
  height: 100%;
  background: #6B7984;
  display: flex;
  flex-direction: column;
  text-align: left;
  /* justify-content: space-between; */
}

.headerTodos {
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
  align-items: flex-start;
}

.sort {
  color: #fff;
  height: 38px;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 400;
}

.allTodoContainer h2 {
  text-align: left;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
  font-weight: bold;
}

.logoIcon {
  margin-right: 10px;
}

.allMenuContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.butcont{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  margin-bottom: 20px;
}
.regbut, .autbut{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #c6c6c6;
  border-radius: 4px;
  margin: 0 10px;
  border: 4px solid rgb(54, 80, 104);
  border-bottom-color: #6B7984;
  border-right-color: #6B7984;
}
.regbut:hover, .autbut:hover{
  background-color: #b2b2b2;
}