@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Marmelad', sans-serif;
}

html,
body,
#root,
.App {
  height: 100%;
}