.todoListContainer {
  /* background: #e0e0e0; */
  display: flex;
  flex-direction: column;
  align-items: center;
}


.allTodoContainer h2 {
  text-align: left;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
  font-weight: bold;
}

.infinity {
  margin-right: 10px;
}

/* .infinityLogo {
  background: url('../../../public/img/infinity.svg') no-repeat;
  background-position: center;
  background-size: contain;
  width: 35px;
  height: 35px;
  filter: invert(100%);
  margin-right: 12px;
} */