.todoContainer {
  list-style: none;
  margin-bottom: 3px;
  background: #EFEFF0;
  /* text-align: center; */
  border-radius: 4px;
  padding: 7.5px 9px 0px 9px;
  min-height: 55px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  /* transition: 0.25s; */
}

@keyframes slideUp {
  0% {
    height: auto;
    opacity: 1;
    margin-top: 0;
  }

  100% {
    height: 0;
    opacity: 0;
    margin-top: -55px;
  }
}

.deleting {
  animation: slideUp 0.35s ease-in-out forwards;
}

@keyframes slideDown {
  0% {
    height: 0;
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    height: auto;
    opacity: 1;
    transform: translateY(0);
  }
}

.adding {
  animation: slideDown 0.35s ease-in-out forwards;
}



.leftSide {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-right: 10px;
  /* height: 25px; */
}

.todoContainer:last-child {
  margin-bottom: 0;
}

.todoContainer .check {
  width: 20px;
  height: 20px;
  font-size: 16px;
  border: 2.5px solid #5F5F5F;
  margin-right: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.25s;
  flex-shrink: 0;
}

.todoContainer input {
  box-sizing: content-box;
  padding: 0 5px;
  display: block;
  margin: 0;
  flex: 1;
  width: 100%;
  outline: none;
  background: #6B7984;
  color: #EFF0F0;
  font-size: 20px;
}

.todoContainer p {
  color: #262626;
  font-size: 20px;
  line-height: 20px;
}

.textAndDate {
  display: flex;
  flex-direction: column;
}

.text {
  margin-bottom: 5px;
}

.date {
  font-size: 16px !important;
  color: rgb(150, 150, 150) !important;
  font-style: italic !important;
}

.done {
  background: #bbbbbc;
}

.todoContainer.done .check {
  background: #5F5F5F;
  color: #fff;
  align-self: flex-start !important;
}

.rightSide {
  display: flex;
}

.edit {
  width: 20px;
  height: 20px;
  color: #0a3d52;
  font-size: 20px;
  cursor: pointer;
  margin-right: 8px;
}

.save {
  width: 20px;
  height: 20px;
  color: #0a3d52;
  font-size: 20px;
  cursor: pointer;
  margin-right: 8px;
}

.favorites {
  width: 20px;
  height: 20px;
  color: #0a3d52;
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.delete {
  width: 20px;
  height: 20px;
  color: #0a3d52;
  font-size: 20px;
  cursor: pointer;
}