.todoContainer {
  list-style: none;
  margin-bottom: 3px;
  background: #EFEFF0;
  /* text-align: center; */
  border-radius: 4px;
  padding: 10px 9px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  transition: 0.25s;
}

.leftSide {
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 10px;
  height: 25px;
}

.todoContainer:last-child {
  margin-bottom: 0;
}

.todoContainer .check {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 2.5px solid #5F5F5F;
  margin-right: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.25s;
}

.todoContainer input {
  box-sizing: content-box;
  padding: 0 5px;
  display: block;
  margin: 0;
  flex: 1;
  width: 100%;
  outline: none;
  background: #6B7984;
  color: #EFF0F0;
  font-size: 20px;
}

.todoContainer p {
  color: #262626;
  font-size: 20px;
  line-height: 20px;
}

.done {
  background: #bbbbbc;
}

.todoContainer.done .check {
  background: #5F5F5F;
  color: #fff;
}

.rightSide {
  display: flex;
}

.edit {
  width: 25px;
  height: 25px;
  color: #0a3d52;
  font-size: 25px;
  margin-right: 5px;
  cursor: pointer;
}

.save {
  width: 25px;
  height: 25px;
  color: #0a3d52;
  font-size: 25px;
  margin-right: 5px;
  cursor: pointer;
}

.delete {
  width: 25px;
  height: 25px;
  color: #DA532C;
  font-size: 25px;
  cursor: pointer;
}